@media (min-width: 1050px) {
  .search-input-tablet,
  .line-sidebar {
    display: none;
  }
}

@media (max-width: 1050px) {
  .grid-2-clm {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  .header {
    align-items: center;
  }

  #site-search-tablet,
  .search-icon {
    margin-bottom: 0;
    height: 5rem;
  }

  #site-search-tablet {
    font-size: 1.8rem;
    width: 28rem;
  }

  .search-icon {
    width: 20px;
    padding-right: 0;
  }

  .sidebar {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .wraper-sidebar {
    max-width: 50rem;
    margin-top: 8.2rem;
  }

  .content-subtitle,
  .content-title {
    text-align: center;
  }

  .search-input-desc {
    display: none;
  }

  .weather-info {
    margin-bottom: 4.4rem;
  }

  .wrapper-weather-info {
    margin-top: 8rem;
  }

  .location-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .weather-description-item {
    width: 35.4rem;
  }

  .degree {
    font-size: 12rem;
    line-height: 1.2;
  }

  .city {
    font-size: 4rem;
  }

  .date {
    font-size: 1.6rem;
  }
  .wrappper-weather-icon {
    align-items: center;
  }

  .wrappper-weather-icon img {
    width: 5.5rem;
    height: 5.5rem;
  }

  .line-sidebar {
    width: 100%;
    height: 4px;
    color: white;
    backdrop-filter: blur(5px);
  }
}

@media (max-width: 750px) {
  #site-search-tablet {
    width: 12.5rem;
    font-size: 1.2rem;
    height: 2rem;
  }
  .search-icon {
    height: 2.9rem;
    width: 12px;
  }

  .logo {
    width: 4rem;
    height: 2rem;
  }
  .degree {
    font-size: 6.4rem;
    line-height: 1;
  }
  .city {
    font-size: 3rem;
  }

  .date {
    font-size: 1rem;
  }
  .wrappper-weather-icon img {
    width: 4rem;
    height: 4rem;
  }

  .weather-info {
    margin-bottom: 2.5rem;
  }

  .wrappper-weather-icon,
  .location-info {
    height: 8.6rem;
  }

  .wraper-sidebar {
    margin-top: 3rem;
  }

  .wraper-sidebar p,
  .wraper-sidebar h3 {
    font-size: 1.4rem;
  }

  .content-subtitle {
    margin-bottom: 3.7rem;
  }
}
