.container {
  max-width: 120rem;
  width: 80%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 3.8rem;
  align-items: center;
}

.logo {
  width: 9rem;
  height: 5rem;
}
.logo:hover {
  cursor: pointer;
}

.weather-info {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8.7rem;
}
.wrapper-weather-info {
  display: flex;
  align-items: center;
}
.degree {
  font-size: 14.3rem;
  line-height: 1.6;
  margin-right: 1rem;
}
.location-info {
  margin-right: 2.8rem;
  height: 12.5rem;
}
.city {
  font-size: 6rem;
  line-height: 1.6;
  max-width: 21rem;
}

.date {
  font-size: 1.8rem;
  line-height: 1.6;
}

.wrappper-weather-icon {
  width: 7rem;
  height: 12.5rem;
  display: flex;
  align-items: end;
}
.wrappper-weather-icon img {
  height: 7rem;
  width: 7rem;
  padding-bottom: 1rem;
}

.grid-2-clm {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
