.sidebar {
  width: 35%;
  background-color: transparent;
  color: white;
  padding: 25px;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  backdrop-filter: blur(5px);
}

.content-subtitle {
  font-size: 1.8rem;
  margin-bottom: 5rem;
}

.content-title {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
  font-weight: 400;
}

.weather-description-item {
  text-decoration: none;
  display: flex;
  width: 35.4rem;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.weather-description-item p {
  font-size: 1.8rem;
}

#site-search {
  padding: 14px 0;
  width: 371px;
  font-size: 2rem;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  margin-bottom: 7rem;
  color: #fff;
}
.search-input {
  display: flex;
}

input::placeholder {
  color: #fff;
  opacity: 0.7;
}

input:focus {
  outline: none;
  color: #4e4e4f;
}

.search-icon {
  border-bottom: 1px solid #fff;
  padding-right: 1.6rem;
  width: 38px;
  margin-bottom: 7rem;
}

input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

.search-icon:hover {
  cursor: pointer;
}
